@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;1,500&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap')
$backgound-header: #F6F6F6
$colorWhite: #FFFFFF
$grayColor: #919191
$darkGrayColor: #717171
$blueColor: #3684CB

.card
  display: grid
  grid-template-rows: 1fr 2fr 1fr
  width: 100%
  border-radius: 6px
  background-color: $colorWhite
  height: 270px
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px
  @media (max-width: 1200px)
    max-height: 200px

.card-header
  background-color: $backgound-header
  border-radius: 6px 6px 0 0
  padding: 20px

.card-body
  display: flex
  font-size: 2.3rem
  align-items: center
  justify-content: center
  font-weight: 600

.card-footer
  display: flex
  border-top: 1px solid $backgound-header

h2, span
  color: $darkGrayColor

h2
  font-size: 1rem

h3
  font-size: 12px
  font-weight: 600

.variation, .date
  display: flex
  width: 50%
  flex-direction: column
  align-items: center
  justify-content: center
  border-left: 2px solid $backgound-header

span
  font-size: 12px
  font-weight: 700

.color-red
  color: #DD4B4B

.color-green
  color: #3C7649

.color-blue
  color: #3684CB

.color-gray
  color: $grayColor

h3
  color: $grayColor

.align
  justify-self: center
  align-self: flex-end

.error
  display: flex
  flex-direction: column
  gap: 10px
  font-weight: 400

button
  border-radius: 6px
  border: none
  width: 7rem
  height: 1.5rem
  cursor: pointer
  font-size: 12px
  font-weight: 600
  &:hover
    color: $darkGrayColor
  &:active
    background-color: $blueColor
    color: $colorWhite
